<header>
	<h1>{{title}}</h1>
	<p>Welcome to {{title}}</p>
</header>

<section class="container">
	<section>
		<h2>Enable push notifications</h2>
		<label class="switch">
		  <input type="checkbox" class="switch-input js-push-button">
		  <span class="switch-label" data-on="On" data-off="Off"></span>
		  <span class="switch-handle"></span>
		</label>
	</section>


	<button>What are you doing Dave?</button>
</section>


	
